.fa { font-size: 20px; }

li {
	list-style: none;
}

.date {
	padding: 5px 7px;
	margin: 0;
}

.buy-now {
	margin: 16px;
}

.btn-success {
	background-color: #62BD62;
	font-weight: bolder;
	border: none;
}
/* ======================================================================        APP COMPONENT */
.navbar-form {
	width: 46%;
}

.navbar-form .form-group {
	width: 85%;
}

.navbar-form .form-control {
	width: 100%;
}

/* ======================================================================        INDEXROUTE COMPONENT */

.popular-events {
	border-bottom: 1px solid rgb(226, 225, 225);
}

.date-box {
	text-align: center;
	background-color: rgb(42, 44, 155);
	color: white;
	margin: 10px 0;
	padding: 0px 9px;
}